        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: #f8f8f8;
        }

        header {
            text-align: center;
          }
          


		tr:hover {
			background-color: #f5f5f5;
		}

		input[type=search] {
			padding: 6px 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

        .text-box {
            background-color: rgb(241, 241, 241);
          }
          


/*LOGIN*/
        /* Style the login box */
        .login-box {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;
        }

        /* Style the login form inputs */
        .login-box input[type=text], .login-box input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Style the login and register buttons */
        .login-box input[type=submit], .login-box input[type=button] {
            width: 100%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Style the login button */
        .login-box input[type=submit] {
            background-color: #2196f3;
            color: white;
        }

        /* Hover effect for the login button */
        .login-box input[type=submit]:hover {
            background-color: #0b7dda;
        }

        /* Style the register button */
        .login-box input[type=button] {
            background-color: #f44336;
            color: white;
        }

        /* Hover effect for the register button */
        .login-box input[type=button]:hover {
            background-color: #da190b;
        }

        .register-link {
            margin-top: 20px;
          }
          
          .register-link p {
            font-size: 14px;
            margin: 0;
          }
          
          .register-link a {
            color: #1e90ff;
            text-decoration: none;
          }
          
          .register-link a:hover {
            text-decoration: underline;
          }


          label {
            font-weight: bold;
          }
          

        nav ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            margin: 0;
          }

          nav a {
            color: black;
            text-decoration: none;
            display: block;
            text-decoration: none;
            color: black; 
          }

          nav a:hover {
            color: #1e90ff; /* change to your desired color */
          }

          nav {
            background: (#f5f5f5);
            border-radius: 0;
            border-bottom: 1px solid rgb(232, 232, 232); /* add a thin black line at the bottom of the box */
          }
          
          
          nav li {
            display: inline-block;
          }
          
          
          
          
          .hero-image {
            background-image: url('PcBgImage.jpg');
            background-size: cover;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
		}

        .hero-text {
            max-width: 800px;
            margin: 0 auto;
        }

        footer {
            padding: 20px;
            text-align: center;
        }

        /*CSS code for PC Comparison Page*/
        .my-table {
            border-collapse: collapse;
            border: 1px solid #ccc;
            font-size: 11px;          
        }
          
          .my-table th,
          .my-table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
          }
          
          .my-table th {
            font-weight: bold;
          }
          

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #filterInput {
			padding: 10px;
			font-size: 16px;
			border: 1px solid #ddd;
			border-radius: 5px;
			margin-bottom: 20px;
		}

        .container {
            border-radius: 10px;
            border-color: #007bff;
            background-color: lightgray;
            padding: 10px;
            width: 90%;
            margin: 0 auto;
          }

          select {
            padding: 8px 12px;
            width: 150px !important;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #ccc;

          }


          

          
		