        body {
          font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            background-color: #f8f8f8;
        }

        p {
          font-size: 18px;
          margin-left: 10px;
          margin-right: 10px;
        }

        h2 {
          margin-left: 10px;
          margin-right: 10px;
        }

        header {
            text-align: center;
            margin-bottom: 10px;
          }
          


		tr:hover {
			background-color: #f5f5f5;
		}

		input[type=search] {
			padding: 6px 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

        .text-box {
            margin-left: 12%;
            margin-right: 10%;
            
          }

          
          


/*LOGIN*/
        /* Style the login box */
        .login-box {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;
        }

        /* Style the login form inputs */
        .login-box input[type=text], .login-box input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Style the login and register buttons */
        .login-box input[type=submit], .login-box input[type=button] {
            width: 100%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Style the login button */
        .login-box input[type=submit] {
            background-color: #2196f3;
            color: white;
        }

        /* Hover effect for the login button */
        .login-box input[type=submit]:hover {
            background-color: #0b7dda;
        }

        /* Style the register button */
        .login-box input[type=button] {
            background-color: #f44336;
            color: white;
        }

        /* Hover effect for the register button */
        .login-box input[type=button]:hover {
            background-color: #da190b;
        }

        .register-link {
            margin-top: 20px;
          }
          
          .register-link p {
            font-size: 14px;
            margin: 0;
          }
          
          .register-link a {
            color: #1e90ff;
            text-decoration: none;
          }
          
          .register-link a:hover {
            text-decoration: underline;
          }

          
          #pw-info {
            font-size: 10px;
          }

        /* Style for Like Button */
        .favorite-button {
          border-radius: 20px;
          padding: 5px 10px;
          cursor: pointer;
        }

        .favorite-button.clicked {
          background-color: #90ee90;
        }

        .favorite-button:focus {
          outline: none;
        }

                
        /* CSS For Nav and Dropdown menu */
        .dropdown .dropdown-toggle {
          position: relative;
        }

        .dropdown .dropdown-menu {
          position: absolute;
          display: none;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 20px;
          padding: 10px;
          z-index: 9999; /* Ensure the dropdown appears on top of other elements */
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          top: calc(100%); /* Adjust the value to add space between the text and dropdown */
        }

        .dropdown:hover .dropdown-toggle + .dropdown-menu,
        .dropdown .dropdown-menu:hover {
          display: block;
        }


        
        .dropdown .dropdown-menu table {
          width: 100%;
        }
        
        .dropdown .dropdown-menu td {
          padding: 5px;
        }
        
        .dropdown .dropdown-menu a {
          font-size: 12px; 
          transition: color 0.3s ease;
        }
        
        .dropdown .dropdown-menu a:hover {
          color: #1e90ff; 
        }
        
        
        
        

        nav ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            margin: 0;
          }

          
          nav a {
            color: black;
            text-decoration: none;
            display: block;
            text-decoration: none;
            color: black; 
            transition: color 0.25s;
          }

          nav a:hover {
            color: #1e90ff; 
            transition: color 0.25s;
          }

          nav {
            background: (#f5f5f5);
            border-radius: 0;
            border-top: 1px solid rgb(232, 232, 232);
            border-bottom: 1px solid rgb(232, 232, 232); 
          }
          
          
          nav li {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 18px;
            font-weight: bold;
          }
          

          .about-p {
            font-size: 18px;
          }
          

        footer {
            padding: 20px;
            text-align: center;
            border-top: #000;
        }

        /* CSS code for PC Comparison Page */

        .product-image-container {
          text-align: center;
        }
        
        .product-image {
          width: 50px;
          height: auto;
        }
        
        .product-text {
          text-align: center;
        }
        
        .product-price-link {
          color: black;
          text-decoration: none;
          transition: color 0.25s;
        }
        
        .product-price-link:hover {
          color: #1e90ff;
          transition: color 0.25s;
        }
        
        
        
        .my-table {
          border-collapse: collapse;
          font-size: 11px;
        }

        .my-table th,
        .my-table td {
          border: 1px solid #ccc;
          padding: 8px;
          text-align: center;
        }

        .my-table td {
          font-size: 11px;
        }

        .my-table th {
          font-weight: bold;
          text-align: center;
          font-size: 14px;
        }

        .my-table {
          border: 1px solid #ccc;
          border-radius: 10px;
          overflow: hidden;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th,
        td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #f2f2f2;
        }
        th#mark {
          width: 20px;
        }

        th#price {
           width: 40px;
        }

        
        .filter-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        
        .filter-group {
          /* Existing styles for the .filter-group container */
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center; /* Added alignment to center the checkboxes vertically */
        }
        
        
        .filter-group div {
          /* Added styles for the checkbox container */
          margin-right: 10px; /* Adjust the margin as needed */
        }
        
        .filter-group input[type="checkbox"] {
          /* Existing styles for the checkboxes */
          margin-right: 5px; /* Adjust the margin as needed */
        }
        
        
        

        
        #filterInput {
          padding: 10px;
          font-size: 16px;
          width: 140px;
          border: 1px solid #ddd;
          border-radius: 10px;
          margin-right: 10px; /* Added margin-right to create space between input and label */
          height: 18px;
        }
        
        .sort-container {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }
        
        .sort-container label {
          margin-right: 10px; /* Added margin-right to create space between label and select */
          font-weight: bold;
        }
        
        select {
          padding: 8px 12px;
          width: 80px;
          border-radius: 10px;
          font-size: 16px;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid #ccc;
          height: 40px;
        }

        input[type="number"] {
          padding: 6px 10px;
          width: 100px;
          border-radius: 8px;
          font-size: 14px;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid #ccc;
          
          height: 40px;
        }
        
        label[for="sort-by"] {
          margin-left: 10px;
        }
        
        
        
         /* CSS code for Tips */
         .tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
        
        .info-icon {
          display: inline-block;
          width: 15px;
          height: 15px;
          line-height: 15px;
          text-align: center;
          background-color: #333;
          color: #fff;
          border-radius: 50%;
          font-weight: bold;
          font-size: 12px;
          margin-right: 5px;
          text-align: center;
        }
        
        .tooltip .tooltip-text {
          visibility: hidden;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 100%; 
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          opacity: 0;
          transition: opacity 0.3s;
          text-align: center;
        }

        .tooltip-text-price-performance {
          visibility: hidden;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: calc(50% - 50px);
          transform: translateX(-50%);
          width: 150px;
          opacity: 0;
          transition: opacity 0.3s;
          text-align: center;
        }

        .tooltip:hover .tooltip-text-price-performance {
          visibility: visible;
          opacity: 1;
        }

        .tooltip-text-name {
          visibility: hidden;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: calc(220% - 50px);
          transform: translateX(-50%);
          width: 100px;
          opacity: 0;
          transition: opacity 0.3s;
          text-align: center;
        }

        .tooltip:hover .tooltip-text-name {
          visibility: visible;
          opacity: 1;
        }
        
        
      
        .tooltip:hover .tooltip-text {
          visibility: visible;
          opacity: 1;
        }

        

        /* CSS for links in Learn More section */

        #quick-links {
          text-align: center;
        }
        
        #quick-links ul {
          list-style: none;
          padding: 0;
        }
        
        #quick-links table {
          margin: 0 auto;
          border-collapse: collapse;
        }
        
        #quick-links td {
          padding: 10px;
        }
        
        #quick-links a {
          text-decoration: none;
          color: #000;
        }
        

        a.learn-more-link {
          color: white;
          text-decoration: underline;
          transition: color 0.25s;
        }
      
        a.learn-more-link:hover {
          color: #1e90ff;
          text-decoration: underline;
          transition: color 0.25s;
        }

        a#link {
          color: black;
          text-decoration: underline;
          transition: color 0.25s;
        }

        a#link:hover {
          color: #1e90ff;
          text-decoration: underline;
          transition: color 0.25s;
        }
        
      /* CSS for Contact Page */
        .contact-info {
          margin-bottom: 20px;
      }

      .contact-info li {
          margin-bottom: 10px;
      }

      .contact-info li a {
          color: #333;
          text-decoration: none;
      }

      .contact-form * {
          box-sizing: border-box;
          }

          .contact-form input,
          .contact-form textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
          }

          .contact-form button {
          display: block;
          width: 100%;
          padding: 10px;
          background-color: #333;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          }

          .contact-form button:hover {
          background-color: #555;
          }

        /* CSS for Video Player section */
        .video-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
        }

        .video-wrapper {
          width: 100%;
          margin-bottom: 15px;
        }

        .video-wrapper h3 {
          text-align: center;
        }

        .video-wrapper iframe {
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          position: relative;
        }

        .video-wrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 50%;
        }

        
        
        


          

          
		