        body {
          font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            background-color: #f8f8f8;
        }

        p {
          font-size: 18px;
          margin-left: 10px;
          margin-right: 10px;
        }

        h2 {
          margin-left: 10px;
          margin-right: 10px;
        }

        header {
            text-align: center;
          }
          


		tr:hover {
			background-color: #f5f5f5;
		}

		input[type=search] {
			padding: 6px 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

        .text-box {
            background-color: rgb(241, 241, 241);
            margin-left: 12%;
            margin-right: 10%;
          }
          


/*LOGIN*/
        /* Style the login box */
        .login-box {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;
        }

        /* Style the login form inputs */
        .login-box input[type=text], .login-box input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Style the login and register buttons */
        .login-box input[type=submit], .login-box input[type=button] {
            width: 100%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Style the login button */
        .login-box input[type=submit] {
            background-color: #2196f3;
            color: white;
        }

        /* Hover effect for the login button */
        .login-box input[type=submit]:hover {
            background-color: #0b7dda;
        }

        /* Style the register button */
        .login-box input[type=button] {
            background-color: #f44336;
            color: white;
        }

        /* Hover effect for the register button */
        .login-box input[type=button]:hover {
            background-color: #da190b;
        }

        .register-link {
            margin-top: 20px;
          }
          
          .register-link p {
            font-size: 14px;
            margin: 0;
          }
          
          .register-link a {
            color: #1e90ff;
            text-decoration: none;
          }
          
          .register-link a:hover {
            text-decoration: underline;
          }


          label {
            font-weight: bold;
          }
          

        nav ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            margin: 0;
          }

          nav a {
            color: black;
            text-decoration: none;
            display: block;
            text-decoration: none;
            color: black; 
            transition: color 0.4s;
          }

          nav a:hover {
            color: #1e90ff; /* change to your desired color */
            transition: color 0.4s;
          }

          nav {
            background: (#f5f5f5);
            border-radius: 0;
            border-bottom: 1px solid rgb(232, 232, 232); /* add a thin black line at the bottom of the box */
          }
          
          
          nav li {
            display: inline-block;
          }
          
          
          
          
          .hero-image {
            background-image: url('PcBgImage.jpg');
            background-size: cover;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
		}

        .hero-text {
            max-width: 800px;
            margin: 0 auto;
        }

        footer {
            padding: 20px;
            text-align: center;
        }

        /* CSS code for PC Comparison Page */
        
        .my-table {
          border-collapse: collapse;
          font-size: 11px;
        }

        .my-table th,
        .my-table td {
          border: 1px solid #ccc;
          padding: 8px;
          text-align: left;
        }

        .my-table td {
          font-size: 11px;
        }

        .my-table th {
          font-weight: bold;
          text-align: center;
          font-size: 14px;
        }

        .my-table {
          border: 1px solid #ccc;
          border-radius: 10px;
          overflow: hidden;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }

        th,
        td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #f2f2f2;
        }
        th#mark {
          width: 20px;
        }

        th#price {
           width: 100px;
        }

        
          #filterInput {
        padding: 10px;
        font-size: 16px;
        width: 140px;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
      }

        .container {
            border-radius: 10px;
            border-color: #007bff;
            background-color: lightgray;
            padding: 10px;
            width: 90%;
            margin: 0 auto;
          }

          select {
            padding: 8px 12px;
            width: 120px;
            border-radius: 10px;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #ccc;

          }

          .sort-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;
          }
          
          .sort-container label {
            margin-right: 20px;
          }

          select[id="sort-by"] {
            display: inline-block;
            width: 220px;
         }
        
         /* CSS code for Tips */
         .tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
        
        .info-icon {
          display: inline-block;
          width: 15px;
          height: 15px;
          line-height: 15px;
          text-align: center;
          background-color: #333;
          color: #fff;
          border-radius: 50%;
          font-weight: bold;
          font-size: 12px;
          margin-right: 5px;
          text-align: center;
        }
        
        .tooltip .tooltip-text {
          visibility: hidden;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 100%; 
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          opacity: 0;
          transition: opacity 0.3s;
          text-align: center;
        }
        
        
        
        .tooltip:hover .tooltip-text {
          visibility: visible;
          opacity: 1;
        }

        /* CSS for links in Learn More section */
        .learn-more-link {
          color: #1e90ff;
        }

        a#learn-link {
          color: black;
          text-decoration: none;
          transition: color 0.4s;
        }

        a#learn-link:hover {
          color: #1e90ff;
          transition: color 0.4s;
        }

        /* CSS for Video Player section */
        .video-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
        }

        .video-wrapper {
          width: 100%;
          margin-bottom: 15px;
        }

        .video-wrapper h3 {
          text-align: center;
        }

        .video-wrapper iframe {
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          position: relative;
        }

        .video-wrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 50%;
        }

        
        
        


          

          
		