<!DOCTYPE html>
<html>
<head>
    <title>PC Comparison Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
        </a>  
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/learn-more">Learn More</a></li>
                {% if 'user_id' in session %}
                    <li><a href="/comparison">Comparison</a></li>
                    {% if 'user_id' in session %}
                        <li><a href="/profile">Profile</a></li>
                    {% endif %}
                    <li><a href="/logout" class="logout-button">Logout</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="text-box">
                <h2>About Us</h2>
                <p class="about-p">
                    Welcome to PC Comparison Tool! We are passionate about making the PC buying process easier for everyone. We understand that choosing the right PC can be overwhelming, especially when you're about to invest your hard-earned money in a high-performance machine. With the vast number of options available, we want to provide you with the knowledge and insights you need to make informed decisions based on your desired budget and requirements.
                </p>

                <h2>How Our Website Works</h2>
                <p class="about-p">
                    Our website is designed to simplify the PC comparison process. Here's how it works:
                    <ol>
                        <li>Start by <a href="/register" id="link">registering an account</a> or logging in if you already have one.</li>
                        <li>Explore our database of PCs and their specifications.</li>
                        <li>Use our intuitive comparison tool to select the PCs you want to compare.</li>
                        <li>View detailed side-by-side comparisons of the selected PCs, including performance, features, and pricing.</li>
                        <li>You can then make an informed decision and choose the PC that best fits your needs and budget!</li><br>
                    </ol>
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
          <p class="footer-text">PC Comparison Tool</p>
          <p class="footer-disclaimer">Please note this website is not intended for commercial use.</p>
          </div>
      </footer>
</body>
</html>
