<!DOCTYPE html>
<html>
<head>
	<title>PC Comparison Tool</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" integrity="sha512-UVTEaeJYXzeIzP0oMtdRH29z1VQ8uE5CC1VieS/ZF5R5L5xxHi0eU+kH7U4ZB0iHQ6uH5ETrFrwVJy5GrPYScg==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js" integrity="sha512-CYEtI/Pegk+41J2jqMhWbJcGVv+MPfZ1sQs1tT13E0edJzHyNx0Bt57gzi8WFXeCwvOktq3f0+PxX8Wb1cLlPA==" crossorigin="anonymous"></script>
	<script>
		function filterTable() {
			// Get input elements
			var coreCount = document.getElementById("coreCountFilter").value.toLowerCase();
			var memory = document.getElementById("memoryFilter").value.toLowerCase();
			var ssdStorage = document.getElementById("ssdStorageFilter").value.toLowerCase();
			var hddStorage = document.getElementById("hddStorageFilter").value.toLowerCase();
			var graphicsCard = document.getElementById("graphicsCardFilter").value.toLowerCase();
			var priceMin = parseInt(document.getElementById("priceMinFilter").value);
			var priceMax = parseInt(document.getElementById("priceMaxFilter").value);

			// Get table rows
			var rows = document.querySelectorAll("tbody tr");

			// Loop through rows and hide those that don't match the filters
			for (var i = 0; i < rows.length; i++) {
				var coreCountCol = rows[i].querySelectorAll("td")[1];
				var memoryCol = rows[i].querySelectorAll("td")[3];
				var ssdStorageCol = rows[i].querySelectorAll("td")[4];
				var hddStorageCol = rows[i].querySelectorAll("td")[5];
				var graphicsCardCol = rows[i].querySelectorAll("td")[6];
				var priceCol = rows[i].querySelectorAll("td")[7];

				if (coreCount !== "all" && coreCountCol && coreCountCol.textContent.toLowerCase() !== coreCount) {
					rows[i].style.display = "none";
				} else if (memory !== "all" && memoryCol && memoryCol.textContent.toLowerCase() !== memory) {
					rows[i].style.display = "none";
				} else if (ssdStorage !== "all" && ssdStorageCol && ssdStorageCol.textContent.toLowerCase() !== ssdStorage) {
					rows[i].style.display = "none";
				} else if (hddStorage !== "all" && hddStorageCol && hddStorageCol.textContent.toLowerCase() !== hddStorage) {
					rows[i].style.display = "none";
				} else if (graphicsCard !== "all" && graphicsCardCol && graphicsCardCol.textContent.toLowerCase() !== graphicsCard) {
					rows[i].style.display = "none";
				} else if (priceMin && priceCol && parseInt(priceCol.textContent) < priceMin) {
					rows[i].style.display = "none";
				} else if (priceMax && priceCol && parseInt(priceCol.textContent) > priceMax) {
					rows[i].style.display = "none";
				} else {
					rows[i].style.display = "";
				}
			}
		}
	</script>
</head>
<body>
	<header>
        <a href="/">
        <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
    </a>  
        <nav>
            <ul>
                <section id="home">
                    <h2><a href="/">Home</a></h2>
                </section>
                <section id="about">
                    <h2><a href="/about">About</a></h2>
                </section>
                <section id="contact">
                    <h2><a href="/contact">Contact</a></h2>
                </section>
            </ul>
        </nav>
    </header>
    <div class="filters">
	<input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Name">

		<label for="cpu">CPU:</label>
		<select id="cpu">
			<option value="">Any</option>
			<option value="2">AMD</option>
			<option value="4">Intel</option>
		</select>

		<label for="core-count">Core Count:</label>
		<select id="core-count">
			<option value="">Any</option>
			<option value="2">2</option>
			<option value="4">4</option>
			<option value="6">6</option>
			<option value="8">8</option>
			<option value="10">10</option>
			<option value="12">12</option>
			<option value="14">14</option>
			<option value="16">16</option>
			<option value="24">24</option>
		</select>


		<label for="cpu-clock">Min CPU Boost Clock:</label>
		<input type="range" id="cpu-clock" min="1" max="6" step="0.1" value="1" oninput="document.getElementById('cpu-clock-value').innerHTML = this.value">
		<span id="cpu-clock-value">1</span> GHz<br>

		<label for="price-range">Maximum Price:</label>
		<input type="range" id="price-range" min="100" max="10000" step="10" value="10000" oninput="document.getElementById('price-range-value').innerHTML = this.value">
		£<span id="price-range-value">10000</span>

		<script>
		function updateRange() {
		const value = document.getElementById("cpu-clock").value;
		document.getElementById("cpu-clock-range").max = value;
		}

		function updateValue() {
		const rangeValue = document.getElementById("cpu-clock-range").value;
		document.getElementById("cpu-clock").value = rangeValue;
		}
		</script>


		<label for="memory">Memory:</label>
		<select id="memory">
			<option value="">Any</option>
			<option value="4">4 GB</option>
			<option value="8">8 GB</option>
			<option value="16">16 GB</option>
			<option value="32">32 GB</option>
			<option value="64">64 GB</option>
			<option value="128">128 GB</option>
		</select>

		<label for="ssd">SSD Storage:</label>
		<select id="ssd">
			<option value="">Any</option>
			<option value="256">128 GB</option>
			<option value="256">256 GB</option>
			<option value="512">512 GB</option>
			<option value="1024">1 TB</option>
			<option value="2048">2 TB</option>
			<option value="4096">4 TB</option>
		</select>

		<label for="hdd">HDD Storage:</label>
		<select id="hdd">
			<option value="">Any</option>
			<option value="500">500 GB</option>
			<option value="1000">1 TB</option>
			<option value="2000">2 TB</option>
			<option value="4000">4 TB</option>
			<option value="8000">8 TB</option>
		</select>

		<label for="graphics">Graphics Card:</label>
		<select id="graphics">
			<option value="">Any</option>
			<option value="nvidia">NVIDIA</option>
			<option value="amd">AMD</option>
		</select>
	<br>
	<br>
		<label for="sort-by">Sort By:</label>
		<select id="sort-by">
			<option value="recommended">Recommended</option>
			<option value="price-high-low">Price: High-Low</option>
			<option value="price-low-high">Price: Low-High</option>
			<option value="performance-high-low">Performance: High-Low</option>
			<option value="performance-low-high">Performance: Low-High</option>
		</select>
		

	</div>
	<br>
	<table class="my-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>CPU</th>
				<th>Core Count</th>
				<th>CPU Boost Clock</th>
				<th>Memory</th>
				<th>SSD Storage</th>
				<th>HDD Storage</th>
				<th>Graphics Card</th>
				<th>AVG Performance</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Product 1</td>
			  <td>i7-9700K</td>
			  <td>8</td>
			  <td>4.9 GHz</td>
			  <td>16 GB</td>
			  <td>512 GB</td>
			  <td>2 TB</td>
			  <td>RTX 3080</td>
			  <td></td>
			  <td>$1999</td>
			</tr>
			<tr>
			  <td>Product 2</td>
			  <td>Ryzen 9 5950X</td>
			  <td>16</td>
			  <td>4.9 GHz</td>
			  <td>32 GB</td>
			  <td>1 TB</td>
			  <td>4 TB</td>
			  <td>RTX 3090</td>
			  <td></td>
			  <td>$3499</td>
			</tr>
		  </tbody>
		<tbody>
		</tbody>
	</table>
		<!--Use JavaScript to fetch data from MySQLWorkbench and populate the table -->
		<script src="js/populate-table.js"></script>
    </div>
	<!--Script for sliders -->
	<script>
		var slider = document.getElementById('cpu-clock-slider');
		var minValue = document.getElementById('cpu-clock-min').value;
		var maxValue = document.getElementById('cpu-clock-max').value;
	
		noUiSlider.create(slider, {
		  start: [minValue, maxValue],
		  connect: true,
		  step: 0.1,
		  range: {
			'min': parseFloat(minValue),
			'max': parseFloat(maxValue)
		  }
		});
	
		slider.noUiSlider.on('update', function(values, handle) {
		  var value = parseFloat(values[handle]);
		  if (handle == 0) {
			document.getElementById('cpu-clock').value = value;
		  } else {
			document.getElementById('cpu-clock-max').value = value;
		  }
		});
	  </script>
</body>
</html>

