<!DOCTYPE html>
<html>
<head>
    <title>PC Comparison Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" integrity="sha512-UVTEaeJYXzeIzP0oMtdRH29z1VQ8uE5CC1VieS/ZF5R5L5xxHi0eU+kH7U4ZB0iHQ6uH5ETrFrwVJy5GrPYScg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js" integrity="sha512-CYEtI/Pegk+41J2jqMhWbJcGVv+MPfZ1sQs1tT13E0edJzHyNx0Bt57gzi8WFXeCwvOktq3f0+PxX8Wb1cLlPA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header>
        <a href="/">
        <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
    </a>  
        <nav>
            <ul>
                <section id="home">
                    <h2><a href="/">Home</a></h2>
                </section>
                <section id="about">
                    <h2><a href="/about">About Us</a></h2>
                </section>
                <section id="contact">
                    <h2><a href="/contact">Contact</a></h2>
                </section>
                <section id="learn-more">
                    <h2><a href="/learn-more">Learn More</a></h2>
                </section>
                
            </ul>
        </nav>
    </header>
    <div class="filters">
        <div class="filter-row">
            <div class="filter-group">
              <label for="cpu">CPU:</label>
              <div id="cpu">
                <label><input type="checkbox" name="cpu-option" value="amd">AMD</label>
                <label><input type="checkbox" name="cpu-option" value="intel">Intel</label>
              </div>
            </div>
        </div>
            <div class="filter-row">
            <div class="filter-group">
              <label for="graphics">Graphics Card:</label>
              <div id="graphics">
                <label><input type="checkbox" name="graphics-option" value="nvidia">NVIDIA</label>
                <label><input type="checkbox" name="graphics-option" value="amd">AMD</label>
              </div>
            </div>
          </div>
        
          <div class="filter-row">
              <div class="filter-group">
                <label for="core-count">Core Count:</label>
                <div>
                  <input type="checkbox" id="coreCountFilter-any" name="core-count" value="">
                  <label for="coreCountFilter-any">Any</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-2" name="core-count" value="2">
                  <label for="coreCountFilter-2">2</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-4" name="core-count" value="4">
                  <label for="coreCountFilter-4">4</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-6" name="core-count" value="6">
                  <label for="coreCountFilter-6">6</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-8" name="core-count" value="8">
                  <label for="coreCountFilter-8">8</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-10" name="core-count" value="10">
                  <label for="coreCountFilter-10">10</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-12" name="core-count" value="12">
                  <label for="coreCountFilter-12">12</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-14" name="core-count" value="14">
                  <label for="coreCountFilter-14">14</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-16" name="core-count" value="16">
                  <label for="coreCountFilter-16">16</label>
                </div>
                <div>
                  <input type="checkbox" id="coreCountFilter-24" name="core-count" value="24">
                  <label for="coreCountFilter-24">24</label>
                </div>
              </div>
          </div>
          <div class="filter-row">
              <div class="filter-group">
                <label for="memory">Memory:</label>
                <div>
                  <input type="checkbox" id="memory-any" name="memory" value="">
                  <label for="memory-any">Any</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-4" name="memory" value="4">
                  <label for="memory-4">4 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-8" name="memory" value="8">
                  <label for="memory-8">8 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-16" name="memory" value="16">
                  <label for="memory-16">16 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-32" name="memory" value="32">
                  <label for="memory-32">32 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-64" name="memory" value="64">
                  <label for="memory-64">64 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="memory-128" name="memory" value="128">
                  <label for="memory-128">128 GB</label>
                </div>
              </div>
          </div>
          <div class="filter-row">
              <div class="filter-group">
                <label for="ssd">SSD Storage:</label>
                <div>
                  <input type="checkbox" id="ssd-any" name="ssd" value="">
                  <label for="ssd-any">Any</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-128" name="ssd" value="128">
                  <label for="ssd-128">128 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-256" name="ssd" value="256">
                  <label for="ssd-256">256 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-512" name="ssd" value="512">
                  <label for="ssd-512">512 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-1024" name="ssd" value="1024">
                  <label for="ssd-1024">1 TB</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-2048" name="ssd" value="2048">
                  <label for="ssd-2048">2 TB</label>
                </div>
                <div>
                  <input type="checkbox" id="ssd-4096" name="ssd" value="4096">
                  <label for="ssd-4096">4 TB</label>
                </div>
              </div>
          </div>
            <div class="filter-row">
              <div class="filter-group">
                <label for="hdd">HDD Storage:</label>
                <div>
                  <input type="checkbox" id="hdd-any" name="hdd" value="">
                  <label for="hdd-any">Any</label>
                </div>
                <div>
                  <input type="checkbox" id="hdd-500" name="hdd" value="500">
                  <label for="hdd-500">500 GB</label>
                </div>
                <div>
                  <input type="checkbox" id="hdd-1000" name="hdd" value="1000">
                  <label for="hdd-1000">1 TB</label>
                </div>
                <div>
                  <input type="checkbox" id="hdd-2000" name="hdd" value="2000">
                  <label for="hdd-2000">2 TB</label>
                </div>
                <div>
                  <input type="checkbox" id="hdd-4000" name="hdd" value="4000">
                  <label for="hdd-4000">4 TB</label>
                </div>
                <div>
                  <input type="checkbox" id="hdd-8000" name="hdd" value="8000">
                  <label for="hdd-8000">8 TB</label>
                </div>
              </div>
            </div>

      
        <div class="sort-container">
            <label for="name">Name:</label>
            <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Search...">
            <label for="sort-by">Sort By:</label>
             <select id="sort-by" onchange="sortTable()">
            <option value="Default">Default</option>
            <option value="price-high-low">Price: High-Low</option>
            <option value="price-low-high">Price: Low-High</option>
            <option value="performance-high-low-cpu">3D Mark CPU Performance: High-Low</option>
            <option value="performance-low-high-cpu">3D Mark CPU Performance: Low-High</option>
            <option value="performance-high-low-gpu">3D Mark GPU Performance: High-Low</option>
            <option value="performance-low-high-gpu">3D Mark GPU Performance: Low-High</option>
          </select>
        </div>
      
        <script src="static/js/update-sort.js"></script>
      </div>
      
    </div>
        <br>
            <table class="my-table">
                <thead>
                    <tr>
                        <th>
                            <div class="tooltip">
                              <span class="table-heading">Name</span><br>
                              <span class="info-icon">i</span>
                              <span class="tooltip-text">Product Name</span>
                            </div>
                          </th>
                          <th>
                            <div class="tooltip">
                              <span class="table-heading">CPU</span><br>
                              <span class="info-icon">i</span>
                              <span class="tooltip-text">The Central Processing Unit. It is considered as the brains of the computer. <br>
                                <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                            </div>
                          </th>
                          <th id = "mark">
                            <div class="tooltip">
                                <span class="table-heading">3D Mark AVG CPU Performance</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">3D Mark is a benchmarking tool used to measure the performance of CPUs. The benchmark specifically is Time Spy. 
                                    It is one of many and it is always best to look at many reviews and benchmarks to see what kind of performance you will get.<br>
                                  <a href="https://benchmarks.ul.com/3dmark" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">Core Count</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">How many cores are in the CPU <br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">CPU Boost Clock</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">The Boost Clock Speed of the CPU. Generally the better especially for gaming.<br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">Memory</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">Also known as RAM. All applications are loaded into it and the more you have,
                                     the more apps you can have loaded at once.<br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">SSD Storage</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">The amount of Solid State Drive Stoage.<br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">HDD Storage</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">The amount of Hard Disk Drive Stoage.<br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th>
                            <div class="tooltip">
                                <span class="table-heading">Graphics Card</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">Also known as the GPU. Is responsible for all graphics tasks on the PC such as Gaming.<br>
                                  <a href="/learn-more" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        
                        <th id = "mark">
                            <div class="tooltip">
                                <span class="table-heading">3D Mark AVG GPU Performance</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">3D Mark is a benchmarking tool used to measure the performance of GPUs. The benchmark specifically is Time Spy. 
                                    It is one of many and it is always best to look at many reviews and benchmarks to see what kind of performance you will get.<br>
                                  <a href="https://benchmarks.ul.com/3dmark" target="/learn-more" class="learn-more-link">Click here to learn more</a></span>
                              </div>
                        </th>
                        <th id = "price">
                            <div class="tooltip">
                                <span class="table-heading">Price</span><br>
                                <span class="info-icon">i</span>
                                <span class="tooltip-text">Prices of the PC are prices extracted from Amazon.
                                    Please note prices may not be fully up to date.<br>
                              </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="pcTableBody">
                        <script src="static/js/filter-table.js"></script>
                        <script src="static/js/populate-table.js"></script>
                </tbody>
            </table>
        </div>
        <div class="footer">
        </div>
    </body>
    </html>