<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="static/js/contact-validation.js"></script>

    <style>
        /* Styles Specifically for Contact Page */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

    </style>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
        </a>  
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/learn-more">Learn More</a></li>
                {% if 'user_id' in session %}
                    <li><a href="/comparison">Comparison</a></li>
                    {% if 'user_id' in session %}
                        <li><a href="/profile">Profile</a></li>
                    {% endif %}
                    <li><a href="/logout" class="logout-button">Logout</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="contact-form">
            <h2>Get in Touch</h2>
            <p>We value your input and strive to provide the best possible experience for our users. 
              Whether you have a suggestion, concern, or praise, we are eager to listen and address your needs. 
              Thank you for choosing to contact us.</p>
              <div id="notification-container"></div>
            <form id="contact-form" action="/contact" method="post">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>    
      
</body>
<footer>
    <div class="footer-content">
      <p class="footer-text">PC Comparison Tool</p>
      <p class="footer-disclaimer">Please note this website is not intended for commercial use.</p>
      </div>
  </footer>
</html>
</html>


