<!DOCTYPE html>
<html>
<head>
    <title>PC Comparison Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="/">
        <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
    </a>  
        <nav>
            <ul>
                <section id="home">
                    <h2><a href="/">Home</a></h2>
                </section>
                <section id="about">
                    <h2><a href="/about">About Us</a></h2>
                </section>
                <section id="contact">
                    <h2><a href="/contact">Contact</a></h2>
                </section>
                <section id="learn-more">
                    <h2><a href="/learn-more">Learn More</a></h2>
                </section>
                
            </ul>
        </nav>
    </header>
    <section>
        <div class="login-box">
            <h2>Login</h2>
            <form method="post" action="{{ url_for('index') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <input type="submit" value="Login" onclick="checkCredentials(event)">
                <input type="button" value="Not a user? Register Here" onclick="window.location.href='/register'">
            </form>
        </div>
        <script>
            function checkCredentials(event) {
              // Prevent the default form submission behavior
              event.preventDefault();
          
              // Get the values of the username and password fields
              const username = document.getElementById("username").value;
              const password = document.getElementById("password").value;
          
              // Check if the username and password are correct
              if (username === "Admin" && password === "Admin") {
                // Redirect the user to the comaprison.html page
                window.location.href = "/comparison";
              } else {
                // Display an error message
                alert("Incorrect username or password. Please try again.");
              }
            }   
        </script>  
    </section>
    <footer>
    </footer>
</body>
</html>







