<!DOCTYPE html>
<html>
<head>
    <title>PC Comparison Tool</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='images/PcComparisonTool.png') }}" alt="PC Comparison Tool">
        </a>  
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/learn-more">Learn More</a></li>
                {% if 'user_id' in session %}
                    <li><a href="/comparison">Comparison</a></li>
                    {% if 'user_id' in session %}
                        <li><a href="/profile">Profile</a></li>
                    {% endif %}
                    <li><a href="/logout" class="logout-button">Logout</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section>
        <div class="login-box">
            <h2>Register</h2>
            <form method="post" action="{{ url_for('register') }}" id="register-form">
                <label for="username">Username:</label>
                <p id="pw-info"></p>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,}$">
                <label for="confirm-password">Confirm Password:</label>
                
                <input type="password" id="confirm-password" name="confirm-password" required>
                <input type="submit" value="Register">
                <p id="pw-info">Note: Username must contain at least 3 characters and Password must contain at least 5 characters including letters, numbers and 1 symbol. </p>
            </form>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/login-validation.js') }}"></script>
    
<footer>
    <div class="footer-content">
      <p class="footer-text">PC Comparison Tool</p>
      <p class="footer-disclaimer">Please note this website is not intended for commercial use.</p>
      </div>
  </footer>
</body>
</html>
